package main

import (
	utils "aoc_2024/aoc_utils"
	"fmt"
)

func part1(input string) int64 {
	return 0
}

func part2(input string) int64 {
	return 0
}

func solve() {
	var input = utils.ReadFile("input.txt")
	part1_res := part1(input)
	fmt.Printf("Part1: %d\n", part1_res)
	part2_res := part2(input)
	fmt.Printf("Part2: %d\n", part2_res)
}

func main() {
	solve()
}
